backend/node_modules/
backend/.env
backend/storage/*
!backend/storage/.gitkeep
frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.idea/
frontend/*.iml
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/key.properties
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/ephemeral/
.local/
*.log

backend/.env.mysql
backend/.local/
